@import './styles/login.scss';
@import './styles/dashboard.scss';
@import './styles//header.scss';
@import './styles/sidebar.scss';
@import './styles/common.scss';
@import './styles/users.scss';
@import './styles/user_details.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-holder {
    background-repeat: no-repeat;
    background-position: center;
}

